<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!-- layout:decorate="~{fragments/business/create/main_layout_business_create}" -->
<head>
<title>Purchases</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.0/sweetalert.min.js"></script> -->
<script src="https://code.jquery.com/jquery-3.1.0.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="sweetalert/sweetalert.min.js"></script>
<link rel="stylesheet" href="sweetalert/sweetalert.css" />
<link rel="stylesheet" href="../../static/css/materia/jquery-3.3.1.min.js" th:href="@{css/materia/jquery-3.3.1.min.js}" />
<link rel="stylesheet" href="../../static/css/style.css" th:href="@{css/style.css}" />
<link rel="stylesheet" href="../../static/css/materia/bootstrap.min.css" th:href="@{css/materia/bootstrap.min.css}" />
<script type="text/javascript" th:src="@{/js/src/business/purchase/purchases.js}"></script>
<style type="text/css">
.tableFixHead {
	overflow: auto;
	height: 300px;
}

table {
	border-collapse: collapse;
	width: 100%;
}

/* th, td {
	padding: 8px 16px;
}
 */
th {
	background: teal;
}
</style>
<script type="text/javascript">
	function samplePhotoOneChange( input ) {
		if ( input.files && input.files [ 0 ] ) {
			var filerd = new FileReader();
			filerd.onload = function( e ) {
				$( '#samplePhotoOnePreview' ).attr( 'src' , e.target.result );
			};
			filerd.readAsDataURL( input.files [ 0 ] );
		}
	}
</script>
<script type="text/javascript">
	function samplePhotoTwoChange( input ) {
		if ( input.files && input.files [ 0 ] ) {
			var filerd = new FileReader();
			filerd.onload = function( e ) {
				$( '#samplePhotoTwoPreview' ).attr( 'src' , e.target.result );
			};
			filerd.readAsDataURL( input.files [ 0 ] );
		}
	}
</script>
<script type="text/javascript">
	function samplePhotoThreeChange( input ) {
		if ( input.files && input.files [ 0 ] ) {
			var filerd = new FileReader();
			filerd.onload = function( e ) {
				$( '#samplePhotoThreePreview' ).attr( 'src' , e.target.result );
			};
			filerd.readAsDataURL( input.files [ 0 ] );
		}
	}
</script>
<!-- 
				BigDecimal id = rs.getBigDecimal("id");	
				String dateServer = rs.getString("date_server");/* 1 */
				String dateClient = rs.getString("date_client");/* 2 */
				String item = rs.getString("item");/* 3 */
				String itemSubCategory = rs.getString("item_sub_category");/* 4 */
				BigDecimal itemQuantity = rs.getBigDecimal("item_quantity");/* 5 */
				BigDecimal itemPricePerUnit = rs.getBigDecimal("item_price_per_unit");/* 6 */
				BigDecimal itemTotalManualCost = rs.getBigDecimal("item_total_manual_cost");/* 7 */
				BigDecimal itemTotalAutomaticCost = rs.getBigDecimal("item_total_automatic_cost");/* 8 */
				boolean credit = rs.getBoolean("credit");/* 9 */
				String clearedBy = rs.getString("cleared_by");/* 10 */
				BigDecimal amountPaid = rs.getBigDecimal("amount_paid");/* 11 */
				BigDecimal installmentPaid = rs.getBigDecimal("installment_paid");/* 12 */
				BigDecimal installmentBalance = rs.getBigDecimal("installment_balance");/* 13 */
				String paymentMethod = rs.getString("payment_method");/* 14 */
				String supplierName = rs.getString("supplier_name");/* 15 */
 -->
<script type="text/javascript">
	$( document ).ready( function() {

		// code to read selected table row cell data (values).
		$( "#createPurchasesTable" ).on( 'click' , '.btnSelect' , function() {

			// get the current row
			var currentRow = $( this ).closest( "tr" );

			// get current row, item ID
			var colItemId = currentRow.find( "td:eq(0)" ).text();
			//swal("ID: " + colItemId);

			var colDateServer = currentRow.find( "td:eq(1)" ).text();
			//alert("Date Server: "+colDateServer);

			var colDateClient = currentRow.find( "td:eq(2)" ).text();
			//alert("Date Client: "+colDateClient);

			// get current row, item name
			var colItemName = currentRow.find( "td:eq(3)" ).text();
			//alert("Item: "+colItemName);

			// get current row, item sub category 
			var colItemSubCategory = currentRow.find( "td:eq(4)" ).text();
			//alert("sub cat: "+colItemSubCategory);

			// get current row, item quantity
			var colItemQuantity = currentRow.find( "td:eq(5)" ).text();
			//alert("qty: "+colItemQuantity);

			// get cureent row, item unit cost
			var colItemUnitCost = currentRow.find( "td:eq(6)" ).text();
			//alert("unit cost: "+colItemUnitCost);

			// get current row, item total cost manual
			var colTotalCostManual = currentRow.find( "td:eq(7)" ).text();
			//alert("total cost manual: "+colTotalCostManual);

			// get current row, total cost auto
			var colTotalCostAuto = currentRow.find( "td:eq(8)" ).text();
			//alert("total auto: " + colTotalCostAuto);

			// get current row, item credit?
			var colCredit = currentRow.find( "td:eq(9)" ).text();
			//alert("credit?: "+colCredit);

			// get current row, cleared by
			var colClearedBy = currentRow.find( "td:eq(10)" ).text();
			//alert("cleared by: "+colClearedBy);

			// get current row, amount paid
			var colAmountPaid = currentRow.find( "td:eq(11)" ).text();
			//alert("amount paid: "+colAmountPaid);

			// get current row, installment paid
			var colInstallmentPaid = currentRow.find( "td:eq(12)" ).text();
			//alert("installment paid: "+colInstallmentPaid);

			// get current row, installment balance
			var colInstallmentBalance = currentRow.find( "td:eq(13)" ).text();
			//alert("installment balance: "+colInstallmentBalance);

			// get current row, payment method
			var colPaymentMethod = currentRow.find( "td:eq(14)" ).text();
			//alert("payment method: " +colPaymentMethod);

			// get current row, supplier
			var colSupplier = currentRow.find( "td:eq(15)" ).text();
			alert( "supplier: " + colSupplier );

			if ( !confirm( 'You are choosing this row for editing.\nAre you sure about this?' ) )
				return;

			var selectedText = colItemName + " -- (" + colItemSubCategory + ")";

			/*Select by description for jQuery v1.6+:*/
			var text1 = selectedText;
			$( "#itemFld option" ).filter( function() {
				//may want to use $.trim in here
				return $( this ).text() == text1;
			} ).prop( 'selected' , true );

			/*Select by description for jQuery v1.6+:*/
			var textSupplier = colSupplier;
			$( "#supplierNameFld option" ).filter( function() {
				//may want to use $.trim in here
				return $( this ).text() == textSupplier;
			} ).prop( 'selected' , true );

			//$("#supplierNameFld").val(colSupplier);

			$( "#itemQuantityFld" ).val( colItemQuantity );
			$( "#itemPricePerUnitFld" ).val( colItemUnitCost );

			$( "#itemTotalManualCostFld" ).val( colTotalCostManual );

			if ( colCredit === "Yes" ) {
				$( "#itemCreditFld" ).prop( 'checked' , true );
			} else if ( colCredit === "No" ) {
				$( "#itemCreditFld" ).prop( 'checked' , false );
			}

			//$('#itemCreditFld').attr('src', colSamplePhotoOne);
			$( "#clearedByFld" ).val( colClearedBy );

			$( "#amountPaidFld" ).val( colAmountPaid );
			//$('#samplePhotoTwoPreview').attr('src', colSamplePhotoTwo);
			$( "#installmentPaidFld" ).val( colInstallmentPaid );

			$( "#installmentBalanceFld" ).val( colInstallmentBalance );
			//$('#samplePhotoThreePreview').attr('src', colSamplePhotoThree);
			$( "#paymentMethodFld" ).val( colPaymentMethod );

			$( "#itemIdFld" ).val( colItemId );

		} );

		$( window ).scroll( function() {
			if ( $( this ).scrollTop() ) {
				$( '#toTop' ).fadeIn();
			} else {
				$( '#toTop' ).fadeOut();
			}
		} );

		$( "#toTop" ).click( function() {
			//1 second of animation time
			//html works for FFX but not Chrome
			//body works for Chrome but not FFX
			//This strange selector seems to work universally
			$( "html, body" ).animate( {
				scrollTop : 0
			} , 1000 );
		} );

	} );
</script>
<script>
	$( document ).ready( function() {
		$( '.tableFixHead' ).on( 'scroll' , function() {
			$( 'thead' , this ).css( 'transform' , 'translateY(' + this.scrollTop + 'px)' );
		} );
	} );
</script>
<script>
	$( document ).ready( function() {
		$( "#btnPickSamplePhotoOne" ).change( function() {
			var filesSelected = document.getElementById( "btnPickSamplePhotoOne" ).files;
			if ( filesSelected.length > 0 ) {
				var fileToLoad = filesSelected [ 0 ];
				var fileReader = new FileReader();
				fileReader.onload = function( fileLoadedEvent ) {
					var base64value = fileLoadedEvent.target.result;
					console.log( base64value );
					$( "#itemSamplePhotoOneURLFld" ).val( base64value );
				};
				fileReader.readAsDataURL( fileToLoad );
			}
		} );
	} );
</script>
<script>
	$( document ).ready( function() {
		$( "#btnPickSamplePhotoTwo" ).change( function() {
			var filesSelected = document.getElementById( "btnPickSamplePhotoTwo" ).files;
			if ( filesSelected.length > 0 ) {
				var fileToLoad = filesSelected [ 0 ];
				var fileReader = new FileReader();
				fileReader.onload = function( fileLoadedEvent ) {
					var base64value = fileLoadedEvent.target.result;
					console.log( base64value );
					$( "#itemSamplePhotoTwoURLFld" ).val( base64value );
				};
				fileReader.readAsDataURL( fileToLoad );
			}
		} );
	} );
</script>
<script>
	$( document ).ready( function() {
		$( "#btnPickSamplePhotoThree" ).change( function() {
			var filesSelected = document.getElementById( "btnPickSamplePhotoThree" ).files;
			if ( filesSelected.length > 0 ) {
				var fileToLoad = filesSelected [ 0 ];
				var fileReader = new FileReader();
				fileReader.onload = function( fileLoadedEvent ) {
					var base64value = fileLoadedEvent.target.result;
					console.log( base64value );
					$( "#itemSamplePhotoThreeURLFld" ).val( base64value );
				};
				fileReader.readAsDataURL( fileToLoad );
			}
		} );
	} );
</script>
</head>
<body class="container mySpace">
	<div class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<a href="/keepCount/signUp/signup" class="navbar-brand">Sign up</a>
			</div>
		</div>
	</div>
	<div>
		<br /> <br /> <br />
		<h3>
			<b><i>Purchases...</i></b>
		</h3>
		<br>
		<h2>
			<b><i>Record new, edit, and delete purchases</i></b>
		</h2>
		<form id="create_item_form" th:object="${emailsOfABusinessForm}" th:action="@{/business/purchases/{businessName}/{emailOfUser}}" method='POST'>
			<div class="form-group">
				<label> Choose Item:</label> <select id="itemFld"></select>
			</div>
			<div class="form-group">
				<label>Item Sub Category </label> <input id="itemSubCategoryFld" name="itemSubCategoryFld" type="hidden" disabled="disabled"
					placeholder="item sub category" class="form-control" required="required"
				/>
			</div>
			<div class="form-group">
				<label>Item Quantity</label> <input pattern="[0-9]*" id="itemQuantityFld" name="itemQuantityFld" type="text" placeholder="item quantity"
					class="form-control" required="required"
				/>
			</div>
			<div class="form-group">
				<label>Item Unit Cost</label> <input id="itemPricePerUnitFld" name="itemPricePerUnitFld" type="text" placeholder="item unit cost" class="form-control"
					required="required"
				/>
			</div>
			<div class="form-group">
				<label>Item Total Cost</label> <input id="itemTotalManualCostFld" name="itemTotalManualCostFld" type="text" placeholder="item total cost"
					class="form-control" required="required"
				/>
			</div>
			<div class="form-group">
				<label>Item Total Automatic Cost</label> <input id="itemTotalAutomaticCostFld" name="itemTotalAutomaticCostFld" type="text" disabled="disabled"
					placeholder="item auto total cost" class="form-control" required="required"
				/>
			</div>
			<div class="form-group">
				<label>Bought on credit?</label> <input id="itemCreditFld" name="itemCreditFld" type="checkbox" class="type_checkbox" required="required" />
			</div>
			<div class="form-group">
				<label>Cleared By?</label> <input id="clearedByFld" name="clearedByFld" type="text" placeholder="cleared by" class="form-control" required="required" />
			</div>
			<div class="form-group">
				<label>Amount Paid</label> <input id=amountPaidFld name="amountPaidFld" type="text" placeholder="amount paid" class="form-control" required="required" />
			</div>
			<div class="form-group">
				<label>Installment Paid</label> <input id=installmentPaidFld name="installmentPaidFld" type="text" placeholder="installment paid" class="form-control"
					required="required"
				/>
			</div>
			<div class="form-group">
				<label>Installment Balance</label> <input id="installmentBalanceFld" name="installmentBalanceFld" type="text" placeholder="installment balance"
					class="form-control" required="required"
				/>
			</div>
			<div class="form-group">
				<label>Payment Method</label> <input id="paymentMethodFld" name="paymentMethodFld" type="text" placeholder="payment method" class="form-control"
					required="required"
				/>
			</div>
			<div class="form-group">
				<label> Supplier Name (Creditor):</label> <select id="supplierNameFld"></select>
			</div>
			<div class="form-group">
				<input type="hidden" th:value="${emailOfUser}" id="emailOfUserFld" />
			</div>
			<div class="form-group">
				<input type="hidden" th:value="${businessName}" id="businessNameFld" />
			</div>
			<div class="form-group">
				<input id="itemIdFld" name="itemIdFld" type="hidden" placeholder="item id" class="form-control" required="required" disabled="disabled" />
			</div>
			<input type="button" value="Save New Purchase" id="btnSavePurchase" class="btn btn-default" /> <input type="button" value="Save Purchases changes"
				id="btnSavePurchasesChanges" class="btn btn-default"
			/> <input type="button" value="Clear" id="btnClearsFields" class="btn btn-default" />
		</form>
		<br /> <br /> <br />
		<div class="form-group">
			<label> Choose digit formatting:</label> <select id="numberFormatFld"></select>
		</div>
		<div class="card">
			<div class="card card-body">
				<div class="tableFixHead">
					<!-- <div class="table table-responsive table-condensed table-striped"> -->
					<table id="createPurchasesTable" class="table table-striped  table-bordered table-hover">
						<thead>
							<tr>
								<th>Date (server)</th>
								<!-- 1 -->
								<th>Date</th>
								<!-- 2 -->
								<th>Item</th>
								<!-- 3 -->
								<th>Item Sub Category</th>
								<!-- 4 -->
								<th>Quantity</th>
								<!-- 5 -->
								<th>Unit Cost</th>
								<!-- 6 -->
								<th>Total Cost (Manual)</th>
								<!-- 7 -->
								<th>Total Cost (Auto)</th>
								<!-- 8 -->
								<th>Credit?</th>
								<!-- 9 -->
								<th>Cleared By</th>
								<!-- 10 -->
								<th>Amount Paid (Cash)</th>
								<!-- 10 -->
								<th>Installment Paid</th>
								<!-- 11 -->
								<th>Installment Bal</th>
								<!-- 12 -->
								<th>Payment Method</th>
								<!-- 13 -->
								<th>Supplier</th>
								<!-- 14 -->
								<th>Delete</th>
								<!-- 15 -->
								<th>Edit</th>
								<!-- 16 -->
							</tr>
						</thead>
						<tbody>
						</tbody>
					</table>
					<div id="bottom_anchor"></div>
				</div>
			</div>
		</div>
	</div>
	<br />
	<br />
	<br />
	<br />
</body>
</html>